span {
  padding-right: 1rem;
}

mat-sidenav-container {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  /* background-color: #2b2b2b; */
  background-color: transparent;
  overflow: hidden;
}

mat-sidenav {
  width: 40%;
  height: 100%;
  padding: 1rem;
  /* color: #FFFFFF; */
  /* color:white; */
  /* background-color: #3b3b3b !important; */
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.logo {
  top: 0;
  position: sticky;
  background-color: white;
  opacity: 1;
  z-index: 10000000;
}

.control-panel {
  position: relative;
}

.mat-spinner {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
  opacity: 0.5;
}

.current-playing {
  margin-bottom: 20px;
}

.current-playing-desc {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

.midi-file-input-container {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.instruments-used {
  display: flex;
  flex-direction: column;
}

.generate-input-fields {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.slider-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.slider-container>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.octave-type {
  display: inline-block;
}

.octave-type-option {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.generate {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.generate-button{
  color: white;
  background-color: #7289DA;
}

.generate>button {
  transition: all 0.1s ease-in;
}

/* @media screen and (min-width: 700px) {
  mat-sidenav-content {
    width: 60%;
  }
} */

@media screen and (max-width: 700px) {
  mat-sidenav {
    width: 300px;
  }
}

mat-form-field {
  color: #000000 !important;
}

mat-sidenav-content {
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.matbar {
  height: 3rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: #7289DA;
  color: rgb(255, 255, 255);
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.24);
}

.app-title {
  text-align: center;
}

.logout {
  margin-left: auto;
  margin-right: 0;
}

.logout-button {
  border: none;
  padding: 10px;
  color: #7289DA;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 1px grey;
}

#visualizer {
  width: 100%;
  flex: auto;
  position: relative;
  overflow: hidden;
}

#toggle-piano-input-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: translateX(200%);
  transition: transform 0.2s ease-in;
}

#visualizer:hover #toggle-piano-input-button {
  transform: translateX(0%);
}

#canvas {
  width: 100%;
  height: 100%;
}

#audio-player {
  margin: 0 10px;
  justify-self: center;
  height: 70px;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*
mat-label{
  color:#ffffff !important;
}

mat-option{
  color:#ffffff !important;
  background-color: #5c5c5c !important;

}

mat-select{
  color:#ffffff !important;
} */

.color_style{
  background-color: #7289DA;
  color: white;
}